body {
    margin: 1em;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.container {
    max-width: 400px;
    margin: 2em auto;
    background-color: white;
    padding: 1em 2em 2em 2em;
    border-radius: 1em;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
}

input {
    width: 100%;
    padding: 0.7em;
    margin-bottom: 1em;
    box-sizing: border-box;  
    font-size: 16px;
}

button {
    font-size: 16px;
    background-color: #2c28a7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
}

button:hover {
    background-color: #212f88;
}

#output {
    font-family: Arial, sans-serif;
}

#userList {
    list-style-type: none;
    padding: 0;
}

#userList li {
    background-color: rgb(236, 236, 236);
    margin-bottom: 0.5em;
    padding: 1em;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.hidden {
    display: none;
}
#instructions {
    max-width: 400px;
    margin: 2em auto;
}

#instructions ol li{
    font-size: 18px;
    padding-bottom: 1em;
}